<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Study_Hub_App/css/style.css">
    <title>Login | Study Hub</title>
</head>
<body>
    <main>
        <button>Icone troca de tema</button>
        <div>
            <h3>Study Hub</h3>
            <span>Faça login para continuar</span>
            <form action="get">
                <span>Email</span>
                <input type="email" placeholder="seu@email.com">
                <span>Senha</span>
                <input type="password" name="" id="">
                <a href="">Esqueceu a senha?</a>
                <button type="submit">Entrar</button>
                <span href="">Não tem uma conta? <a href="">Cadastre-se</a></span>
            </form>
        </div>
    </main>
</body>
</html>