<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Study_Hub_App/css/style.css">
    <title>Study Hub</title>
</head>
<body>
    <main>
        <header>
            <div>
                <h2>Study Hub</h2>
                <span>Suas anotações de estudo</span>
            </div>
            <div>
                <button>Icone de Tema</button>
            </div>
        </header>
    </main>
</body>
</html>