<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Study_Hub_App/css/style.css">
    <title>Avaliações | Study Hub</title>
</head>
<body>
    <header>
        <div>
            <h2>
                Avaliações
            </h2>
            <div>
                <button>Icone de Tema</button>
                <button>Voltar</button>
            </div>
        </div>
        <div>
            <span>(Icone)</span>
            <span>Média Geral</span>
            <span>(valor de média)</span>
        </div>
        <div>
            <span>(Icone de crescimento)</span>
            <span>Avaliações</span>
            <span>(quantidade de avaliações)</span>
        </div>
    </header>
    <main>
        <span>Desempenho por Matéria</span>
        <div>
            <div>
                <span>(Disciplina)</span>
                <div class="barraAvaliação"></div>
                <span>(Número de avaliações)</span>
            </div>
            <div>
                <span class="desempenho">(Nota)</span>
            </div>
        </div>
        <span>Histórico de Avaliações</span>
        <div>
            <div>
                <div>
                    <span>(Matéria)</span>
                    <span>(data)xx/xx/xxxx</span>
                    <span>(tipo de avaliação)</span>
                </div>
                <div>
                    <span>(nota)</span>
                    <span>de (total da prova)</span>
                    <span>(percentual de aproveitamento)xx%</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>