<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Study_Hub_App/css/style.css">
    <title>Agenda | Study Hub</title>
</head>
<body>
    <header>
        <div>
            <h3>
                Calendário
            </h3>
        </div>
        <div>
            <button>Icone de Tema</button>
            <button>Voltar</button>
        </div>
    </header>
    <main>
        <div>
            <div>
                <button> < </button>
                <span>
                    (mês) 2026 
                </span>
                <button> > </button>
            </div>
        </div>
        <div class="grid">
            <span>Dom</span>
            <span>Seg</span>
            <span>Ter</span>
            <span>Qua</span>
            <span>Qui</span>
            <span>Sex</span>
            <span>Sab</span>
            <div>
                <span>(num)</span>
            </div>
        </div>
    </main>
</body>
</html>