<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Study_Hub_App/css/style.css">
    <title>Cadastrar | Study Hub</title>
</head>
<body>
    <main>
        <button>Troca de Tema</button>
        <div>
            <h3>Study Hub | <span>Cadastre-se</span></h3>
            <form action="" method="post">
                <span>Nome Completo:</span>
                <input type="text" name="" id="">
                <span>Email:</span>
                <input type="email" placeholder="seuemail@email.com">
                <span>Senha:</span>
                <input type="password" name="" id="" placeholder="Senha">
                <span>Confirme a Senha:</span>
                <input type="password" placeholder="Confirmar senha">
                <button>Cadastre-se</button>
            </form>
            <a href="../index.html">Já tem conta? Click aqui!</a>
        </div>
    </main>
</body>
</html>